<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shop__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="cartTable">
                       
                         
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-lg-6">
                <div class="discount__content">
                  
                </div>
            </div>
            <div class="col-lg-4 offset-lg-2">
  
                <div class="cart__total__procced">
                    <h6 class="mb-3">Cart total</h6>
            <div class="d-flex justify-content-between mb-1">
            <h6>Subtotal</h6>
            <h6 id="Subtotal">$0</h6>
            </div>
            <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Shipping</h6>
            <h6 id="Shipping" class="font-weight-medium">$0</h6>
            </div>
                    <div class="d-flex justify-content-between">
                        <h5>Total</h5>
                        <h5 id="total">$0</h5>
                    </div>
                </div>
                <a href="/Cart/Checkout" class="btn  btn-danger  w-100 mt-3 ">Proceed to checkout</a>
            </div>
         
           
                </div>
            </div>
    
    
</section>
<!-- Shop Cart Section End -->
<!-- ****** Cart Area End ****** -->
<!-- Cart End -->



@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        const cartTable = document.getElementById("cartTable");
        const subTotal = document.getElementById('Subtotal');
        const shipping = document.getElementById('Shipping');
        const Total = document.getElementById('total');



        $(function () {
            GetData();
        })

        function GetData() {
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: "/Cart/GetProduct",
                success: function (e) {
                    console.log(e);
                    CreateData(e.data);
                    TotalPrice(e.data);
                },
                error: function () {

                }
            })
        }

        function TotalPrice(data) {
            subTotal.innerHTML = "";
            shipping.innerHTML = "";
            Total.innerHTML = "";
            let total = 0;
            for (let i = 0; i < data.length; i++) {
                total += (data[i].price * data[i].quantity)
            }
            subTotal.innerHTML += total;
            shipping.innerHTML += (total * 10) / 100;
            Total.innerHTML += (total + ((total * 10) / 100))
        }

        function RemoveData(id) {
            $.ajax({
                type: "GET",
                contentType: "application/json",
                url: `/Cart/RemoveData/${id}`,
                success: function (e) {
                    if (e == "ok") {
                        Swal.fire(
                            'Silindi!',
                            'Melumatlar silindi!',
                            'success'
                        )
                        GetData();
                    }
                }
            })
        }

        function CreateData(data) {
            cartTable.innerHTML = "";
            for (let i = 0; i < data.length; i++) {
                cartTable.innerHTML += `
                                <tr>
                                                        <td class="cart__product__item align-items-center d-flex">
                                                    <img src="${data[i].photoUrl}" alt="" style="width: 100px;">
                                            <div class="cart__product__item__title">
                                                        <h6> ${data[i].productName}</h6>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </td>
                                                <td class="cart__price">$ ${data[i].price}</td>
                                                <td class="cart__quantity">
                                                                        <div class="d-flex align-items-center">
                                                                        z

                                                                                                         <button onclick="DecreaseQuantity(${data[i].id})" class="btn btn-sm btn-danger"><i class="fa fa-minus"></i></button>
                                                                                                         <input type="text" class="m-2" style="border:none;width:20px;"id="dec" value="${data[i].quantity}">
                                                                                                         <button onclick="AddToCartQuery(${data[i].id})" class="btn btn-sm btn-danger"><i class="fa fa-plus"></i></button>
                                                       
                                                                                                        </div>
                                               

                                        </td>
                                                <td class="cart__total">$ ${data[i].quantity * data[i].price}</td>
                                                <td class="cart__close"><button onclick="RemoveData(${data[i].id})" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button></td>
                                    </tr>
                        `
            }
        }
  
            function DecreaseQuantity(id) {
                $.ajax({
                    type: 'POST',
                    url: `/Cart/DecreaseQuantity?id=${id}`,
                    contentType: 'application/json',
                    success: function (response) {
                        if (response === "ok") {
                            GetData();
                            // Başarılı azaltma işlemi, miktar alanını güncelleyebilirsiniz
                        } else if (response === "minQuantity") {
                           
                            // Miktar alanını güncellememe gerek yok, çünkü minimuma ulaşıldı
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Bir şeyler yanlış gitti!',
                            });
                        }
                    },
                    error: function (e) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Bir şeyler yanlış gitti!',
                        });
                    }
                });
            };
        function AddToCartQuery(id) {
            $.ajax({
                type: 'POST',
                url: `/Cart/AddToCartQuery?id=${id}`,
                contentType: 'application/json',
                success: function (response) {
                    if (response === "ok") {
                        GetData();
                    } else if (response === "maxQuantity") {
                      
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!',
                        });
                    }
                },
                error: function (e) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                    });
                }
            });
        };
    </script>
    

}