
<form method="post">
    <div class="form-group">
        <input type="text" name="Name" class="form-control" placeholder="Name" />
     
    </div>

    <button class="btn btn-info" type="submit">Submit</button>
</form>
