@using Entities.Concrete;
@model List<PraductOxsar>;



<div class="card w-100">
    <a class="btn btn-info" href="/Dashboard/oxsar/create">Create</a>
    <div class="card-body">
        <table class="table table-bordered " id="example" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>


                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>

                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">Category is empty</div>
                }
            </tbody>
        </table>
    </div>
</div>


