@using Entities.DTOs.CategoryDTOs;

@model List<CategoryAdminListDTO>
@section Link{
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.23/dist/sweetalert2.min.css" />
    <link href="~/Admin/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
}

<div class="card w-100">
    <a class="btn btn-info" href="/Dashboard/Category/create">Create</a>
    <div class="card-body">
        <table class="table table-bordered " id="example" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category Name</th>
                 
                    <th scope="col">#</th>

                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><img src="@item.PhotoUrl" width="100" height="100"/></td>
                            <td>@item.CategoryName</td>
                
                            <td class="d-flex align-items-center">
                                <form method="post" asp-action="Delete" asp-route-id="@item.Id" class="mr-1">
                                    <button type="submit" onclick="return confirm('Are you sure you want to delete: @item.CategoryName')" class="btn btn-danger">Delete</button>
                                </form>
                                <a href="/Admin/Category/Edit/@item.Id" class="btn btn btn-info">Update</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">Category is empty</div>
                }
            </tbody>
        </table>
    </div>
</div>



                                    @section Scripts{


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Admin/vendor/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        (function ($) {
            "use strict"

            $('.example-style').DataTable();
          
            var table = $('#example').DataTable({
                createdRow: function (row, data, index) {
                    $(row).addClass('selected')
                }
            });

        })(jQuery);
    </script>



    }